*{

    box-sizing: border-box;
    text-align: center;
    background-color: beige;
}





div {
    margin-left: 42%;
    margin-right: 50%
}


.finalizada {
    text-decoration: line-through
}

button {
    padding: 10px ;
    background-color: rgb(10, 238, 41);

}

#Nome-Da-Tarefa {
    padding: 10px;
    background-color: azure;
}




